:root {
    --text-color: white;

    --main-bg-color: url('./mlg.png');
    --main-topnav-color: rgba(11, 58, 22, 0.808);;
    --main-topnav-shadow: rgba(10, 48, 13, 0.582);
    --main-header-color: rgba(15, 43, 18, 0.5);
    --main-backdrop-side: rgba(7, 32, 5, 0.541);

    --side-nav-bg: rgb(48, 80, 51);
    --side-nav-border: rgb(43, 65, 46);
    --side-nav-shadow: rgba(21, 49, 23, 0.692);

    --side-nav-top: rgba(56, 78, 53, 0.582);
    --side-nav-top-shadow: rgb(39, 58, 41);
    --side-nav-icons-border: rgba(35, 80, 45, 0.397);
    --side-nav-icons-shadow: rgba(26, 39, 24, 0.575);

    --side-nav-options-bg: linear-gradient(to top right, rgb(82, 82, 82), rgb(133, 133, 133));
    --side-nav-options-border: rgba(23, 97, 48, 0.493);
    --side-nav-options-shadow: rgb(32, 58, 34);
    --side-nav-options-icon-shadow: black;

    --translate-container-bg: rgba(41, 63, 42, 0.842);
    --translate-container-shadow: rgb(39, 56, 41);
    --translate-container-border: rgb(55, 83, 62);

    --feat-games-bg: none;
    --feat-games-border: none;

    --input-bg: rgba(44, 77, 42, 0.76);
    --input-border: rgb(67, 100, 64);
    --input-txt-color: var(--text-color);
    --input-border-hover: rgb(51, 99, 59);
    --input-focus: rgb(81, 139, 84);

    --filter-btn-bg: rgba(101, 155, 104, 0.363);
    --filter-btn-border: rgb(78, 119, 76);
    --filter-btn-shadow: rgb(51, 87, 54);

    --filter-container-bg: rgba(39, 71, 38, 0.884);

    --filter-radio-group-bg: rgba(13, 48, 21, 0.651);
    --filter-radio-group-shadoow: rgba(0, 0, 0, 0.3);
    --filter-radio-container-bg: rgba(97, 97, 97, 0.2);
    --filter-radio-container-shadow: rgba(0, 0, 0, 0.2);
    --filter-radio-container-bg-hover: rgba(112, 112, 112, 0.3);
    --filter-radio-container-shadow-hover: rgba(0, 0, 0, 0.4);

    --filter-radio-checkmark-border: #4a794e;
    --filter-radio-checkmark-bg: rgba(32, 66, 41, 0.3);
    --filter-radio-checkmark-shadow: rgba(0, 0, 0, 0.4);
    --filter-radio-checkmark-after: #60835b;

    --filter-radio-checkmark-shadow-pulse: rgba(104, 175, 110, 0.2);

    --game-item-shadow: rgb(20, 54, 23);
    --game-item-shadow-hover: rgb(59, 107, 67);

    --game-item-text-over-bg-old: rgba(26, 26, 26, 0.952);
    --game-item-text-over-bg: rgba(26, 26, 26, 0.719);
    --game-item-text-over-shadow: black;
    --game-item-text-over-text-color: rgb(255, 255, 255);

    --note-bg: rgba(52, 77, 55, 0.849);
    --note-border: rgb(54, 75, 57);
    --note-shadow: rgb(29, 43, 29);
}
.lol {
    background: var(--main-bg-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    background-position: center; 
}
body::before {
    content: "";
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: var(--main-bg-color) no-repeat center center fixed;
    background-size: cover;
    filter: blur(5px) brightness(70%);
    z-index: -1;
}
.click-image {
    display: none;
    z-index: 1000;
    position: absolute;
    width: 50px;
    height: 50px;
    overflow: hidden;
}
.click-sound {
    display: none;
}